body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
}

#container {
  width: 80%;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

#final {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid gray;
}

p {
  text-align: justify;
  max-width: var(--input-width);
}

#chart {
  max-width: 450px;
  margin: auto;
}
