body {
  width: 70%;
  margin: auto;
}
#wheelOfLife {
  width: 400px;
  height: 400px;
  margin: auto;
  background: url("Wheel%20Of%20Life.png") no-repeat;
  background-size: contain;
}

.triangle {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform-origin: bottom right;
}

.triangle svg{
  /* Default height */
  height: 155px;
  fill-opacity: 0.8;
}

#career {
  fill: #ED2527;
}

#finance {
  fill: #3DB549;
  /* overwritten in js */
  transform: rotate(45deg);
}

#personalGrowth {
  fill: #2289B4;
  /* overwritten in js */
  transform: rotate(90deg);
}

#health {
  fill: #F79321;
  /* overwritten in js */
  transform: rotate(135deg);
}

#family {
  fill: #94AFDC;
  /* overwritten in js */
  transform: rotate(180deg);
}

#relationships {
  fill: #FF5F75;
  /* overwritten in js */
  transform: rotate(225deg);
}

#socialLife {
  fill: #00ADEF;
  /* overwritten in js */
  transform: rotate(270deg);
}

#attitude {
  fill: #935FA7;
  /* overwritten in js */
  transform: rotate(315deg);
}